@font-face {
   font-family: 'Varela Round';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Lenovo/Documents/GitHub/L-Plus-Website/fonts/Varela Round/regular.ttf') format('truetype');
}
